@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);

html, body {
  background: $color-light;
  color: $color-main2;
}

p {
  font-size: 1.2em;
}

ul {
  list-style: none;
}

ul > li:before {
  content: "\25CF";
  margin: 0 .5em 0 0;
  color: $color-main4;
}

.container {
  width: 90%;
  padding: 0 0 1em 0;
}

.entry-content {
  margin: 1em 1em 2em 1em;
}

.home .entry-content {
  margin: 0;
}

.matikka, .nepsy, .yhteystiedot {
  padding: 1em 0 0 0;
  border-top: 1px solid $color-main4;
}

.matikka > .row {
  margin: 0 0 0 1em;
}

.profile-image {
  margin: 0 0 1em 0;
  border-radius: 12em;
  border: .7em solid white;
  float: left;
  width: 90%;
}

.open-trainings {
  padding: .5em;
  margin: 0;
  cursor: pointer;
}

.open-trainings:hover {
  background: $color-main1;
}

.open-trainings:after {
  content: "\25BA";
  margin: 0 0 0 .5em;
  color: $color-main4;
}
.open-trainings-open {
  background: $color-main1;
  color: white;
}

.open-trainings-open:after {
  content: "\25BC";
  color: white;
}

.training-container {
  display: none;
}

.training {
  padding: 1em;
  margin: 0 0 2em 0;
  border-radius: 1em;
}

.training1 {
  background: $color-main1;
  color: $color-main2;
}
.training2 {
  background: $color-main2;
  color: white;
}
.training3 {
  background: $color-main1;
  color: $color-main2;
}
.training4 {
  background: $color-main2;
  color: white;
}

@media (min-width: 550px) {
  .training1 {
    background: $color-main1;
    color: $color-main2;
  }
  .training2 {
    background: $color-main2;
    color: white;
  }
  .training3 {
    background: $color-main2;
    color: white;
  }
  .training4 {
    background: $color-main1;
    color: $color-main2;
  }
}


.clearfix {
  clear:both;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
