.goals p {
  margin: 0;
}

.goals .entry-content {
  margin: 0 0 1em 0;
}

.goals .header {
  display: table;
}

.goals .header-text {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  font-weight: 600;
  font-size: 1.5em;
  color: $color-main2;
}

.goals .contactGoal {
  cursor: pointer;
}

.step {
  position: relative;
  padding: 0 0 1em 0;
}

.step::after {
  position: relative;
  top: .5em;
  left: 1.5em;
  content: "";
  display: inline-block;
  width: .5em;
  height: .5em;
  border-right: 0.5em solid $color-dark;
  border-bottom: 0.5em solid $color-dark;
  transform: rotate(45deg);
  z-index: 100;
}

@media (min-width: 780px) {
  .goals {
    text-align: center;
  }

  .goals .header {
    width: 8em;
    height: 8em;
    display: table;
    margin: 0 auto .5em auto;
    background: darken($color-light, 10);
    border-radius: 6em;
  }

  .goals .header-text {
    font-size: 1em;
  }

  .goals .contactGoal {
    transition: all 0.2s;
  }

  .goals .contactGoal:hover {
    background: $color-dark;
  }
  .goals .contactGoal:hover .header-text {
    color: $color-light;
  }

  .step::after {
    position: absolute;
    left: auto;
    top: 3em;
    right: -1.5em;
    width: .7em;
    height: .7em;
    border-right: 0.8em solid $color-dark;
    border-top: 0.8em solid $color-dark;
    border-bottom: 0;
    margin-left: 0.5em;
  }
}
