
.menu-stickymenu-container ul,
.menu-stickymenu-container label {
  margin: 0;
}

.menu-stickymenu-container:not(.sticky-header) {
  position: fixed;
  width: 100%;
  z-index: 1001;
  left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 80px;
}

#menu-stickymenu {
	background: $color-dark;
	text-align: center;
}

#menu-stickymenu li {
	background: $color-main2;
}

#menu-stickymenu li,
#menu-stickymenu a {
  color: $color-light;
  text-decoration: none;
  text-align: center;
}

#menu-stickymenu li:hover,
#menu-stickymenu a:hover {
	color: $color-dark;
}

#menu-stickymenu a {
  border: 0;
  text-shadow: none;
  position: static;
  font-size: .7em;
}

#menu-stickymenu a.selected {
  background: $color-main1;
}

#menu-stickymenu li {
  float: none;
  position: static;
  display: block;
}

.show-menu {
  text-decoration: none;
  background: $color-dark;
  color: white;
  padding: .5em .5em .5em 1em;
  font-size: 30px;
  display: none;
}

/*Hide checkbox*/
input#show-menu[type=checkbox] {
  display: none;
}

/*Show menu when invisible checkbox is checked*/
input#show-menu[type=checkbox]:checked ~ #menu-stickymenu {
  display: block;
}

input#show-menu[type=checkbox]:checked ~ #menu-stickymenu li a {
  text-align: left;
}
