$color-light : #FFFCF2;
$color-dark  : #252422;

$color-text-light : lighten($color-light, 20);
$color-text-dark  : lighten($color-dark, 20);

$color-main1 : #252422;
$color-main2 : #CCC5B9;
$color-main3 : #FFFCF2;
$color-main4 : #EB5E28;
