$color-light : #FBFBF2;
$color-dark  : #373737;

$color-text-light : lighten($color-light, 20);
$color-text-dark  : lighten($color-dark, 20);

$color-main1 : #847527;
$color-main2 : #E2E0D6;
$color-main3 : #C7C2AD;
$color-main4 : #AFA98B;
