$color-light : #FFFFFF;
$color-dark  : #373737;

$color-text-light : lighten($color-light, 40);
$color-text-dark  : lighten($color-dark, 20);

$color-main1 : #847527;
$color-main2 : #aaaaa1;
$color-main3 : #C7C2AD;
$color-main4 : #AFA98B;
