$color-light : #E8F1F2;
$color-dark  : #13293D;

$color-text-light : lighten($color-light, 20);
$color-text-dark  : lighten($color-dark, 20);

$color-main1 : #13293D;
$color-main2 : #006494;
$color-main3 : #247BA0;
$color-main4 : #1B98E0;
